@mixin font10{
    font-size: 10px;
   
}
@mixin font12{
    font-size: 12px;
   
}
@mixin font14{
    font-size: 14px;
   
}
@mixin font16{
    font-size: 16px;
   
}
@mixin font18{
    font-size: 18px;
    
}
@mixin font20{
    font-size: 20px;
    
}
@mixin font22{
    font-size: 22px;
    
}
@mixin font24{
    font-size: 24px;
}
@mixin font25{
    font-size: 25px;
    
}
@mixin font28{
    font-size: 28px;
    
}
@mixin font30{
    font-size: 30px;
    
}
@mixin font32{
    font-size: 30px;
    
}
@mixin font35{
    font-size: 32px;
    
}
@mixin font38{
    font-size: 38px;
    
}
@mixin font40{
    font-size:40 px;
    
}
@mixin font42{
    font-size: 42px;
    
}
@mixin font45{
    font-size: 45px;  
}
@mixin font48{
    font-size: 48px;  
}
@mixin font50{
    font-size: 50px;  
}
@mixin font54{
    font-size: 54px;  
}
@mixin font58{
    font-size: 58px;  
}
@mixin font60{
    font-size: 60px;  
}
@mixin font62{
    font-size: 62px;  
}
@mixin font65{
    font-size: 65px;  
}
@mixin font68{
    font-size: 68px;  
}
@mixin font70{
    font-size: 70px;  
}
@mixin font72{
    font-size: 72px;  
}
